@model TicariOtomasyon.Models.Concrete.Urunlerim
@{
    ViewBag.Title = "UurnGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3 style="display:block;">Urun Düzenle</h3>
@using (Html.BeginForm("UrunGuncelle", "Urunler", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="bg-light">
            <div style="float:right;">
                <a href="/Urunler/urunSil/@ViewBag.id" class="btn btn-icon btn-danger" data-toggle="tooltip"
                   data-placement="top" data-original-title="SİL">
                    <i class="feather icon-trash-2" style="margin:3px 7px;"></i>
                </a>
            </div>
            <div class="row">
                @Html.HiddenFor(x => x.UrunID)
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img style="background-size:100%;" class="card-img img-fluid" src="@ViewBag.foto" id="product-detail">
                    </div>
                </div>
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">
                                @Html.TextBoxFor(x => x.UrunAd, new { placeholder = "Ürün Adı", @class = "form-control", @style = "background-color:#e0e0e0" })
                                @Html.ValidationMessageFor(x => x.UrunAd, "", new { @class = "tect-danger" })
                            </h1>
                            <ul class="list-unstyled pb-3">
                                <li>
                                    @Html.TextBoxFor(x => x.UrunBilgi, new { placeholder = "Ürün Bilgi", @class = "form-control", @style = "background-color:#e0e0e0" })
                                    @Html.ValidationMessageFor(x => x.UrunBilgi, "", new { @class = "tect-danger" })
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item" style="width:240px;">
                                    @Html.TextBoxFor(x => x.UrunAlisFiyat, new { placeholder = "Alış Fiyatı", @class = "form-control", @style = "background-color:#e0e0e0" })
                                    @Html.ValidationMessageFor(x => x.UrunAlisFiyat, "", new { @class = "tect-danger" })
                                </li>
                                <li class="list-inline-item" style="width:240px;">
                                    @Html.TextBoxFor(x => x.UrunSatisFiyat, new { placeholder = "Satış Fiyatı", @class = "form-control", @style = "background-color:#e0e0e0" })
                                </li>
                            </ul>


                            <ul class="list-inline">
                                <li class="list-inline-item" style="margin:0px;">

                                </li>
                                <li class="list-inline-item" style="margin:0px;">
                                    <br />
                                    @Html.DropDownListFor(x => x.MarkaID, (List<SelectListItem>)ViewBag.dropMarka, " Marka ", new { placeholder = "Ürün Bilgi", @class = "form-control", @style = "background-color:#e0e0e0" })
                                    @Html.ValidationMessageFor(x => x.MarkaID, "", new { @class = "tect-danger" })
                                </li>
                                <li class="list-inline-item" style="margin:0px;">

                                </li>
                                <li class="list-inline-item" style="margin:0px;">
                                    @Html.DropDownListFor(x => x.KategoriID, (List<SelectListItem>)ViewBag.drop1, " Kategori ", new { placeholder = "Ürün Bilgi", @class = "form-control", @style = "background-color:#e0e0e0" })
                                    @Html.ValidationMessageFor(x => x.KategoriID, "", new { @class = "tect-danger" })
                                </li>
                                <li class="list-inline-item" style="margin:0px;">

                                </li>
                                <li class="list-inline-item" style="margin:0px; width:190px;">
                                    @Html.TextBoxFor(x => x.UrunStok, new { placeholder = "Stok", @class = "form-control", @style = "background-color:#e0e0e0" })
                                    @Html.ValidationMessageFor(x => x.UrunStok, "", new { @class = "tect-danger" })
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item" style="width:100%;">
                                    <input type="file" name="UrunFoto" class="form-control" style="background-color:#e0e0e0" />
                                </li>

                            </ul>
                            <div class="row">

                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button style="margin:0 15px;" class="btn btn-success"> Düzenle</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container" style="padding:0px">
                <div class="row text-left p-2 pb-3">
                    <section class="py-5" style="min-width:100%;">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">

                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> Ürün Hakkında</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Yorumlar / Puanlar</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                            @Html.Action("yorumGetir", "Urunler")
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            @Html.Action("yorumSil", "Urunler")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>


        <script src="~/BSDetail/assets/js/jquery-1.11.0.min.js"></script>
        <script src="~/BSDetail/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/BSDetail/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/BSDetail/assets/js/templatemo.js"></script>
        <script src="~/BSDetail/assets/js/custom.js"></script>


        <script src="~/BSDetail/assets/js/slick.min.js"></script>
        <script>
            $('#carousel-related-product').slick({
                infinite: true,
                arrows: false,
                slidesToShow: 4,
                slidesToScroll: 3,
                dots: true,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
                ]
            });
        </script>
        <!-- End Slider Script -->

    </body>

</html>


}