@model TicariOtomasyon.Models.Concrete.Musteriler
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3 style="display:block; margin-left:25px;">Yeni Kayıt</h3>
@*<div class="alert alert-primary" role="alert"> Personel Adı: @ViewBag.pAds</div>*@
<link href="~/Content/MyCss/Customer.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="profile-card-4 z-depth-3">
                <!-- BU BÖLÜMDE PROFİL SOL BİLGİLER VAR -->
                <div class="card">
                    <div class="card-body text-center bg-primary rounded-top">
                        <div class="user-box">
                            <img src="~/Bootstrap/dist/assets/images/slider/deneme.png" alt="user avatar" />
                        </div>
                        <h5 class="mb-1 text-white">Hoş Geldiniz</h5>
                    </div>

                </div>
                <!-- BU BÖLÜMDE PROFİL SOL BİLGİLER BİTİŞİ -->
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card z-depth-3">
                <div class="card-body">
                    <!-- BU BÖLÜMDE PROFİL BİLGİLERİ VAR-->
                    <div class="tab-content p-3">

                        <!-- BU BÖLÜMDE BİTİYO-->
                        <!--BU BÖLÜMDE DÜZENLEME İŞŞLEMLERİ YAPILACAK-->
                        <div class="">
                            <h4> Bilgileriniz</h4>
                            @using (Html.BeginForm("MusteriEkle", "Musteri", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(x => x.MusteriID)

                                <form>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">İsim</label>
                                        <div class="col-lg-9">
                                            @Html.TextBoxFor(x => x.MusteriAD, new { @class = "form-control", placeholder = "İsim:" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Soyisim</label>
                                        <div class="col-lg-9">
                                            @Html.TextBoxFor(x => x.MusteriSoyad, new { @class = "form-control", placeholder = "Soyisim:" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Şifre</label>
                                        <div class="col-lg-9">
                                            @Html.TextBoxFor(x => x.MusteriSifre, new { @class = "form-control", placeholder = "Şifre:", @type = "password" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Mail</label>
                                        <div class="col-lg-9">
                                            @Html.TextBoxFor(x => x.MusteriMail, new { @placeholder = "Mail:", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Telefon No</label>
                                        <div class="col-lg-9">
                                            @Html.TextBoxFor(x => x.MusteriTelNo, new { @placeholder = "Tel No:", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Doğum.T</label>
                                        <div class="col-lg-9">
                                            <input type="date" name="MusteriDT" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Adres</label>
                                        <div class="col-lg-9">
                                            @Html.TextAreaFor(x => x.MusteriAdres, new { @placeholder = "Adres", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Foroğraf</label>
                                        <div class="col-lg-9">
                                            <input type="file" name="MusteriFoto" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Şehir</label>
                                        <div class="col-lg-9">
                                            @Html.DropDownListFor(x => x.SehirID, (List<SelectListItem>)ViewBag.Sehir, "Şehr Seçiniz..", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Cinsiyet</label>
                                        <div class="col-lg-9" style="margin:8px 0;">
                                            <span style="padding:3px; margin-right:20px;">Bayan<i class="fa fa-female" style="margin:0 5px;"></i> @Html.RadioButtonFor(x => x.Cinsiyet, "true")</span>
                                            <span style="padding:3px;">Erkek <i class="fa fa-male" style="margin-left:5px; margin-right:10px;"></i>@Html.RadioButtonFor(x => x.Cinsiyet, "false")</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <button class="btn btn-success"> Bilgileri Düzenle</button>
                                        </div>
                                    </div>
                                </form>

                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
