@using TicariOtomasyon.Models.Concrete
@model List<Musteriler>

@foreach (var item in Model)
{
    <h5 class="mb-3">Profil Bilgileri</h5>
    <div class="row">
        <div class="col-md-6">
            <h6>İsim / Soyad</h6>
            <p>
                @item.MusteriAD @item.MusteriSoyad
            </p>
            <h6>Mail</h6>
            <p>
                @item.MusteriMail
            </p>
            <h6>Tel No</h6>
            <p>
                @item.MusteriTelNo
            </p>
            <h6>Doğum.T</h6>
            <p>
                @item.MusteriDT.ToString("dd/MM/yyyy")
            </p>
            <h6>Adres</h6>
            <p>
                @item.MusteriAdres
            </p>
            <h6>Şehir</h6>
            <p>
                @item.Sehirler.SehirAd
            </p>
        </div>
        <div class="col-md-6">
            <h6>Yapılan Toplam Alışveriş</h6>
            <span class="badge badge-primary" style="padding:10px;"><i class="fa fa-shopping-bag"></i> @ViewBag.toplam</span>
        </div>
    </div>

}
